<body>
  <img src='../images/logo.png' alt='Logo Cobertura' />

  <div class='containerCorretor'>
    <img class='avatarCorretor' src='https://pbs.twimg.com/profile_images/972672468031885313/VAemDZAQ.jpg' alt='Ronaldo' />
    <div>
      <h1>{{ user.name }} {{ user.surname }}</h1>
      <p>Telefone: {{ user.phone }} | Email: {{ user.email }}</p>
      <p>Estado: {{ user.state }} | Creci: {{ user.creci }}</p>
      <p>{{ houses.length }} Imóveis disponível para visitas</p>
    </div>
  </div>
    
  <h1>Imóveis</h1>
    <div class='containerCard'>
    {{#each houses}}
      <div class='card'>
        <h1>{{ title }}</h1>
        <p>quartos: {{ bedrooms }}</p>
        <p>banheiros: {{ bathrooms }}</p>
        <p>garagem: {{ garage }}</p>
        <p>area: {{ house_metreage }}m²</p>
      </div>
    {{/each}}
  </div>
</body>